<h1>{{server.name}} {{server.ip}} [{{server.status}}]</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Automation: </strong>{{server.auto_name}}</li>
  <li class="list-group-item"><strong>Client Ver: </strong>{{server.client_ver}}</li>
</ul>
<a class="btn btn-default" href="/"?Back</a>
